@font-face {
  font-family: 'Segoe UI Emoji';
  src: url('/fonts/segoeui-emoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('/fonts/NowAlt-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --cieps-display: "Georgia", "Times New Roman", serif;
  --cieps-body: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
